<div class="row">
    <div class="col-md-12">
        <h3>Phone list</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            <input ng-model="$ctrl.query" placeholder="Search by">
            <select ng-model="$ctrl.orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
            </select>
        </p>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp">
                <p><strong>{{phone.name}}</strong>&nbsp; {{phone.snippet}}</p>
            </li>
        </ul>
    </div>
</div>