<div class="row">
    <div class="col-md-12">
        <h3>Phone list</h3>
        <p>
            <input ng-model="$ctrl.query" placeholder="Search by">
            <select ng-model="$ctrl.orderProp">
                        <option value="name">Alphabetical</option>
                        <option value="age">Newest</option>
            </select>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4" ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp">
        <ul class="phones">
            <li class="thumbnail phone-list-item">
                <a href="#!/phones/{{phone.id}}" class="thumb">
                    <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
                </a>
                <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
                <p>{{phone.snippet}}</p>
            </li>
        </ul>
    </div>
</div>