<div class="row">
    <div class="col-lg-12">
        <h3>Phone list</h3>

        <p>
            Search by: <input ng-model="$ctrl.query">
        </p>

        <p>
            Sort by:
            <select ng-model="$ctrl.orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>
        </p>

        <ul>
            <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp">
                <p><strong>{{phone.name}}</strong>&nbsp; {{phone.snippet}}</p>
            </li>
        </ul>
    </div>
</div>